:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  right: 0;
  padding: 10px;
  padding-left: -5px;
  padding-right: -5px;
  background-color: #242424;
}

.welcome {
  position: relative;
}

.portfolio {
  display: flex;
  position: fixed ;
  margin-top: 88px;
  height: 100%;
  width: 100%;
  left: 0;
}

.profile {
  width: 500px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(50, 48, 48);
  overflow-y: scroll;
}

.profilePicture{
  position: relative;
  left: 20px;
  max-width: 60%;
  height: auto;
  clip-path: circle(45% at center);
  border-color: aliceblue;
}

.projects{
  left: 0;
  margin-bottom: 500px;
  width: 100%;
  height: 100%;
  overflow-y: scroll
}

.projectTitle {
  display:flex;
  justify-content: center;
  color: #242424;
}

.allProjects {
  display: grid;
  padding: 0;
  margin: 0;
  margin-bottom: 120px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  justify-content: center;
  gap: 50px;
}

.projectItem {
  border: 1px solid #333;
  margin: 0;
  background-color: rgb(56, 55, 55);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  padding-top: 0;
  box-shadow: 10px 10px 5px rgb(209, 210, 210);
}

.allProjects :hover{
  background-color: rgb(75, 74, 74);
}

.clickable {
  height: 100%;
  flex-grow: 1;
}
.projectItemTitle {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.projectItemDescription {
  display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;  /* Number of lines displayed before it truncate */
     overflow: hidden;
}

.projectForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #333;
  border-radius: 10px;
  width: 500px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 10px 10px 5px rgb(209, 210, 210);
}

.makeProjectTitle{
  width: 100%;
  display:flex;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
}

input[type="text"], textarea {
  display: flex;
  justify-content: center;
  background-color: #5f5f5f;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.addButton {
  margin-bottom: 30px;
  height: 100%;
  padding: 10px;
}

.createCancelButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.createButton{
  width: 20%;
}

.cancelButton{
  width: 20%;
}

.warning {
  display: flex;
  color: red;
  justify-content: center;
}

.message {
  display:flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 20px;
  border: 10px solid rgb(59, 59, 59);
  height: auto;
  
}

.messageForm {
  display: flex;
  flex-direction: column;
  background-color: #333;
}

.messager {
  width: 20%;
}

